* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.logo {
    width: 70px;
}

/* ESTLIZANDO HEADER - CABEÇALHO*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px black;
    padding: 15px;
}

.logo-menu {
    display: flex;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.logo-menu>nav>img {
    width: 60px;
}

li {
    list-style-type: none;
    padding: 10px;

}

a {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.botao-branco {
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 1opx;
}

.botao-branco:hover {
    background-color: lightblue;
    transition: 0, 5s;
    box-shadow: 2px 2px 2px gray;
}

.botao-preto {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 10px;
}

.logo {
    height: 70px;
}

main {
    max-width: 1300px;
    margin: 0 auto;
}

main > img {
    width: 100%;
}

.card1 {
    background-color: rgb(31, 235, 201);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

.card1>p {
    margin-bottom: 20px;
    font-size: 15px;
}

.card2 {
    display: flex;    
    background-color: rgb(31, 235, 201);
    margin-bottom: 20px;
}
.card2 > img {
    width: 50%;
}
.texto{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.botao{
    border: 1px solid black;
    border-radius: 15px;
    padding: 15px 15px;
    font-size: 10px;
}
.botao:hover{
    background-color: rgb(31, 235, 201);
    transition: 0, 10s;
    box-shadow: 3px 3px 3px whitesmoke;
}

.div3{
    display: flex;    
    background-color: rgb(31, 235, 201);
}
.div3 > img{
    width: 50%;
}
.texto3{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
footer{
    display: flex;
    justify-content: center;
      box-shadow: 0 0 10px black;
    padding: 10px;
}
footer> div{
    width: 200px;
}

.img{
  justify-content: center;
  align-items: center;
  display: flex;
}